
*{
    padding: 0;
    margin: 0;
}

section{
    width: 1160px;
    margin: 0 auto;
}

header{
    background-color: #8fb900;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}
header div{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1{
     font-size: 22px;
}
header  a {
    padding: 12px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: 2px solid white;


}
.main-image{
    position: relative;
    margin-top: 80px;
}

header a:hover{
    color:#8fb900;
    background-color: white;
}

.main-image div{
    background-color: rgb(185, 0, 50,0.4);
    height: 55px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
   

   
}

.main-image p{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 0 17px;

}